

<hr>


<div class = "container">
    <div class = "row">
        <div class = "col">
            <div class= "border border-primary">
            <app-funds></app-funds>
        </div>
        </div>
        <div class = "col">
            <div class= "border border-secondary">
            <order-status></order-status>
        </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col">
            <div class= "border border-success">
            <app-editUser></app-editUser>
        </div>
        </div>
    </div>
</div>
