<div>
    <header>
        <h1>Employee Termination</h1>
    </header>
    <br>
    <hr>
    <nav>
        <a routerLink="/employeeAdd"><button>User Panel</button></a>
    </nav>
    <hr>
    <div>
        <form [formGroup] = "removeRef" (ngSubmit) = "remove()">
            <div>
                <label>Employee Email: </label><input type="text" formControlName="email"><br>
            </div>
            <hr>
            <div>
                <input type="submit" value="Remove" [disabled]="!removeRef.valid">
                <input type="reset" value="Clear">
            </div>
        </form>
    </div>
</div>