<div class = "container">
    <h3>User Funds</h3>
    <label>Current Balance:</label>

    <div>
        <div>
            <h3>Add Funds</h3>
            <div>
                <label>Account Number:</label>
                <input type = "text">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
            </div>
            <div>
                <input type = "button" value = "Add Funds">
            </div>
           
            
        </div>
    </div>
</div>
