
    
    <div class = "container" id = "UpdateUserProfile">
        <h3>Edit Profile Details</h3>
        <form [formGroup] = "profileForm">

            <div class = "row g-2">
                <div class = "col-md">
                    <div class = "form-floating mb-3">
                        <input type = "text" class="form-control" id = "floatingInput" placeholder="First Name" formControlName= "firstName">
                        <label for = "floatingInput">First Name</label>
                        <!--First Name<input id = "firstName" type = "text" formControlName= "firstName"><br>-->
                    </div>
                </div>
                <div class = "col-md">
                    <div class = "form-floating mb-3">
                        <input type = "text" class = "form-control" id = floatingInput placeholder="Last Name" formControlName = "lastName">
                        <label for = "floatingInput">Last Name</label>
                    </div>
                </div>
            </div>



            <!--Address Form-->
           <div formGroupName= "address">
               <div class = "form-floating mb-3">
                <input type = "text" class = "form-control" id = "floatingInput" placeholder="Street" formControlName = "street">
                <label for = "floatingInput">Address</label>
            </div>
            <div class = "row g-3">
                <div class = "col-md">
                    <div class = "form-floating mb-3">
                        <input type = "text" class = "form-control" id = "floatingInput" placeholder="City" formControlName = "city">
                        <label for = "floatingInput">City</label>
                    </div>
                </div>
                <div class = "col-md">
                    <div class = "form-floating mb-3">
                        <input type = "text" class = "form-control" id = "floatingInput" placeholder="State" formControlName = "state">
                        <label for = "floatingInput">State</label>
                    </div>
                </div>
                <div class = "col-md">
                    <div class = "form-floating mb-3">
                        <input type = "text" class = "form-control" id = "floatingInput" placeholder="Zip" formControlName = "zip">
                        <label for = "floatingInput">Zip</label>
                    </div>
                </div>

            </div>
      
           </div>
           <!--end of Address Form-->



            <div class = "form-floating mb-3">
                <input type = "text" class = "form-control" id = "floatingInput" placeholder="Phone" formControlName = "phone">
                <label for = "floatingInput">Phone Number</label>
            </div>

            <div class = "form-floating mb-3">
                <input type = "text" class = "form-control" id = "floatingInput" placeholder="Email" formControlName = "email">
                <label for = "floatingInput">Email</label>
            </div>
           <input type= "submit" value = "Update Profile" class= "btn btn-success" (click) = "onSubmit()">

         </form>
    </div>

    

    